---
import Layout from '../layouts/main.astro';
import ForgotPasswordForm from '../components/auth/ForgotPasswordForm';
---

<Layout>
  <div class="min-h-screen bg-gradient-to-b from-indigo-50 to-white py-16 px-4">
    <div class="container mx-auto max-w-md">
      <ForgotPasswordForm client:load />
    </div>
  </div>
</Layout>
